<!DOCTYPE html>
<link rel="stylesheet" href="/student_registration.css" />
<html>
  <head> </head>
  <body>
    <div class="container">
      <h1><p class="paratext">Student registration form</p></h1>
      <form method="POST">
        <div class="first_name">
          <input
            type="text"
            class="form"
            name="fname"
            placeholder="Enter First Name"
            required
          />
        </div>
        <div class="mid_name">
          <input
            type="text"
            class="form"
            name="mname"
            placeholder="Enter Middle Name"
          />
        </div>
        <div class="last_name">
          <input
            type="text"
            class="form"
            name="lname"
            placeholder="Enter Last Name"
            required
          />
        </div>
        <div class="vtu_number">
          <input
            type="text"
            class="form"
            name="vtunumber"
            placeholder="Enter your USN number"
            required
          />
        </div>
        <div class="phone_number">
          <input
            type="text"
            class="form"
            name="phonenumber"
            placeholder="Enter your phone number"
            required
          />
        </div>
        <!-- <input type="submit" placeholder="Submit" class="button" /> -->
        <button class = "button">Submit</button>
      </form>
    </div>
  </body>
</html>
